<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Course</title>
        <link th:href="@{/css/main.css}" href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>All Course</h1>
        
        <table>
        	<thead>
        		<th>No.</th>
        		<th>ID</th>
        		<th>Nama</th>
        		<th>SKS</th>
        	</thead>
        	<tr th:each="course,iterStat: ${courses}" th:class="${iterStat.odd}? 'odd'">
        		<td th:text="${iterStat.count}"></td>
        		<td th:text="${course.idCourse}"></td>
        		<td th:text="${course.nama}"></td>
        		<td th:text="${course.sks}"></td>
        	</tr>
        </table>
    </body>
</html>
